html {
    scroll-behavior: smooth;
}
html * {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--background-color);
    font-family: var(--font-pop), serif !important;
}


.content-title {
    text-align: center;
    font-size: 48px;
    font-weight: 200;
    line-height: 1.05;
    margin: 0 0 45px;
}
.content-text {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;

    margin-top: 100px;
    text-align: start;
    background-color: var(--background-color);
    border-radius: 7px;

    width: auto;
    max-width: 840px;
    padding: 0 clamp(5px, 5%, 20px) 0;
}
.content-text[data-full-width] {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    left: calc(-50vw + 50%);
}
.content-text[data-no-top-margin] {
    margin-top: 0;
}
.content-text[data-no-padding] {
    padding: 0;
}

.content-heading {
    text-align: center;
    font-size: 32px;
    font-weight: 200;
    line-height: 1.05;
    margin: 0 0 45px;
}

.content-subheading {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    line-height: 1.05;
    margin: 0 0 16px;
}

.content-text h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 200;
    line-height: 1.05;
    margin: 0 0 45px;
}
.content-text h2 {
    line-height: normal;
}
.content-text p, li {
    color: var(--text-color-main);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
}

.content-list {
    text-align: left;
    text-wrap: wrap;
    display: flex;
    justify-content: center;
}
.content-list ul > li {
    list-style: none;
    position: relative;
    color: inherit;
    text-wrap: wrap;
}
.content-list ul > li > span, a {
    color: var(--text-color-main);
    text-wrap: wrap;
}

.content-list .content-list-title {
    text-align: center;
    border-bottom: 1px solid var(--main-color);
}
.content-list li:not(.content-list-title)::before {
    content: ">";
    position: absolute;
    left: -17px;
    color: inherit;
}

.content-table {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1px;
    border: 1px solid var(--text-color-main);
    border-radius: 7px;
    background-color: var(--text-color-main);
    overflow: hidden;
    overscroll-behavior-x: none;
}

#garbage-chore {
    grid-template-columns: repeat(4, 1fr);
    font-family: Tahoma, monospace;
}

.content-table-item {
    display: inline-grid;
    background-color: var(--background-color);
    padding-inline: 1rem;
}
.content-table .content-table-item[data-table-no-padding] {
    padding-inline: 0;
}
.content-table-item:not(.main-color) {
    color: var(--text-color-main);
}
.content-error {
    color: var(--error-red) !important;
}


.content-table .table-size-2 {
    grid-column: span 2;
    text-align: center;
}
.content-table .table-size-3 {
    grid-column: span 3;
}
.content-table .table-size-4 {
    grid-column: span 4;
}

.table-selected {
    color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}
.content-table .table-text-left {
    text-align: left;
}
.content-table .table-text-right {
    text-align: right;
}




